---
import BaseLayout from "../layouts/BaseLayout.astro"
import Content from "../content/specs/friends.md"
import "../styles/github-markdown.css"

const friends = [
    {
        avatar: "https://q1.qlogo.cn/g?b=qq&nk=3244654700&s=640",
        name: "碎冰",
        link: "https://blog.krysztal.dev/",
        about: "BreakIced 的小柜子"
    }, {
        avatar: "https://q1.qlogo.cn/g?b=qq&nk=1440239038&s=640",
        name: "社会易姐QwQ",
        link: "https://shakaianee.top/",
        about: "小易酱～"
    }, {
        avatar: "https://img.fzf404.art/avatar.webp",
        name: "fzf404",
        link: "https://blog.fzf404.art/",
        about: "是小f哥哥！"
    }, {
        avatar: "https://imfurry.com/images/zebwq-furry.jpg",
        name: "中二病晚期の物語",
        link: "https://imfurry.com",
        about: "一只狐狸敲出的一个奇迹"
    }, {
        avatar: "https://my.minecraft.kim/avatar.png",
        name: "HikariLan's blog",
        link: "https://my.minecraft.kim",
        about: "兰草凋荡，星辰璀璨"
    }, {
        avatar: "https://rehtt.com/img/rehtt.jpg",
        name: "Rehtt",
        link: "https://rehtt.com",
        about: "一只 Furry"
    }
]
---
<BaseLayout title="朋友们">
    <div class="markdown-body">
        <Content/>
    </div>
    <div class="flex justify-center items-center">
        <div class="flex flex-wrap justify-center items-center gap-2 m-6 max-w-[720px]">
            {
                friends.map(friend =>
                        <div class="flex items-center gap-2 h-24 p-3 rounded-xl w-[260px] hover:shadow-2xl">
                            <img alt={friend.name} src={friend.avatar} class="h-16 rounded-full"/>
                            <div class="flex flex-col">
                                <a href={friend.link} class="font-bold">
                                    {friend.name}
                                </a>
                                <a>{friend.about}</a>
                            </div>
                        </div>
                )
            }
        </div>
    </div>
</BaseLayout>