---
import BaseLayout from "../layouts/BaseLayout.astro"


const friends = [
    {
        avatar: "/workspaces/PingGuoMiaoMiao.github.io/public/小南娘图.jpg",
        name: "苹果喵喵",
        link: "https://blog.krysztal.dev/",
        about: "BreakIced 的小柜子"
    }, {
        avatar: "https://q1.qlogo.cn/g?b=qq&nk=1440239038&s=640",
        name: "社会易姐QwQ",
        link: "https://shakaianee.top/",
        about: "小易酱～"
    }, {
        avatar: "https://img.fzf404.art/avatar.webp",
        name: "fzf404",
        link: "https://blog.fzf404.art/",
        about: "是小f哥哥！"
    }, {
        avatar: "https://imfurry.com/images/zebwq-furry.jpg",
        name: "中二病晚期の物語",
        link: "https://imfurry.com",
        about: "一只狐狸敲出的一个奇迹"
    }, {
        avatar: "https://my.minecraft.kim/avatar.png",
        name: "HikariLan's blog",
        link: "https://my.minecraft.kim",
        about: "兰草凋荡，星辰璀璨"
    }, {
        avatar: "https://rehtt.com/img/rehtt.jpg",
        name: "Rehtt",
        link: "https://rehtt.com",
        about: "一只 Furry"
    }
]
---
<BaseLayout title="朋友们">
    <div class="markdown-body">
    </div>
    <div class="flex justify-center items-center" id="friends-box">
        <div class="flex flex-wrap justify-center items-center gap-2 m-6 max-w-[720px]" id="friends-boxs">
            {
                friends.map(friend =>
                        <div class="flex items-center gap-2 h-24 p-3 rounded-xl w-[260px] hover:shadow-2xl" id="style-friend">
                            <img alt={friend.name} src={friend.avatar} class="h-16 rounded-full" id="style-boxs"/>
                            <div class="flex flex-col" id="element">
                                <a href={friend.link} class="font-bold" id="element-font">
                                    {friend.name}
                                </a>
                                <a>{friend.about}</a>
                            </div>
                        </div>
                )
            }
        </div>
    </div>
</BaseLayout>
<style>
#friends-box{
    display: flex;
  justify-content: center;
  align-items: center;
}
#friends-boxs{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem;
  max-width: 720px;
}
#style-friend{
    display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 6rem;
  padding: 0.75rem;
  border-radius: 1.25rem;
  width: 260px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

#style-friend:hover{
    box-shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
}

#style-boxs{
    height: 16px;
    border-radius: 50%;
}

#element{
    display: flex;
    flex-direction: column;
}

#element-font{
    font-weight: bold;
}
</style>